#box1{
    height:200px;
    width: 200px;
    background-color: rgb(244, 154, 36);
    position: relative;/*relative, fixed,absolute, sticky, static */
    left: 100px;
    top: 50px;
}
#box2{
    background-color: blueviolet;
    height: 50px;
    width: 50px;
    position:absolute;
    nav-down: current;

}