
*{
    box-sizing: border-box;
}body{
    margin:0px;
    background-color: rgb(144, 230, 230);
}
header h1{
    text-align: center;
    background-color: rgb(61, 207, 251);
    padding:20px;
    margin-top: 0%;
    margin-bottom:0px;
    font-family: Arial, Helvetica, sans-serif;

}
.container{
    background-color: rgb(0, 0, 0);
    margin-left:0px;
    margin-top: 0%;
    padding:10px;
    text-align: center;
}
aside{

    float: left;
    width: 15%;
    padding:2px;
}
section{
    width:35%;
    float: left;
    padding:2px;

}

article{
    width:50%;
    float:left;
    padding:10px;
}

footer h3{
    text-align: center;
    clear: both;
    display:block;
    background-color: rgb(196, 94, 94);
    padding:20px;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width:500px)
{
    aside,section,article
    {
        width:100%;
        background-color: blueviolet;
    }
}